.app {
    display: flex;
    justify-content: center;
    overflow-y: auto;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--desaturated-dark-cyan);
    
    .app_content {
        overflow-x: hidden;
        width: 100%;
        max-width: 1440px;
        background-color: var(--light-grayish-cyan);

        .header {
            background-color: var(--desaturated-dark-cyan);

            .mobileImg {
                display: flex;
            }

            .desktopImg {
                display: none;
            }
            
            @media (min-width: 375px) {
                .mobileImg {
                    display: none;
                }

                .desktopImg {
                    display: flex;
                }
            }
        }

        .elements {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px 0;
            row-gap: 45px;
        }
    }
}