@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-size: 1rem;
}

:root {

  /* Primary */

  --desaturated-dark-cyan: hsl(180, 29%, 50%);
  --desaturated-dark-cyan-low-op: hsla(180, 29%, 50%, 0.192);

  /* Neutral */
  --white: white;
  --very-light-grayish-cyan: hsl(180, 31%, 95%);
  --light-grayish-cyan: hsl(180, 52%, 96%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}